USE [master]
GO
/****** Object:  Database [INVOICES]    Script Date: 14/09/2015 03:13:15 p.m. ******/
CREATE DATABASE [INVOICES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INVOICES', FILENAME = N'C:\SQL Server\MSSQL12.AWBUSINESS\MSSQL\DATA\INVOICES.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INVOICES_log', FILENAME = N'C:\SQL Server\MSSQL12.AWBUSINESS\MSSQL\DATA\INVOICES_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INVOICES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INVOICES]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 14/09/2015 03:13:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[INVOICE_ID] [int] NOT NULL,
	[UUID] [nvarchar](100) NOT NULL,
	[CERT] [nvarchar](max) NULL,
	[DATE] [datetime] NULL,
	[SELLO_CFD] [nvarchar](max) NULL,
	[SELLO_SAT] [nvarchar](max) NULL,
	[CAD_ORIG] [nvarchar](max) NULL,
	[CERT_SAT] [nvarchar](100) NULL,
	[CERT_DATE] [datetime] NULL,
	[EXP_PLACE] [nvarchar](100) NULL,
 CONSTRAINT [PK_INVOICES] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[SAVE_INVOICE]    Script Date: 14/09/2015 03:13:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tiglass
-- Create date: 11/09/2015
-- Description:	Saves basic invoice info
-- =============================================
CREATE PROCEDURE [dbo].[SAVE_INVOICE]
	-- Add the parameters for the stored procedure here
	@INVOICE_ID INT
	, @UUID NVARCHAR(100)
	, @CERT NVARCHAR(MAX)
	, @DATE DATETIME
	, @SELLO_CFD NVARCHAR(MAX)
	, @SELLO_SAT NVARCHAR(MAX)
	, @CAD_ORIG NVARCHAR(MAX)
	, @CERT_SAT NVARCHAR(100)
	, @CERT_DATE DATETIME
	, @EXP_PLACE NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[INVOICES]
           ([INVOICE_ID]
           ,[UUID]
           ,[CERT]
           ,[DATE]
           ,[SELLO_CFD]
           ,[SELLO_SAT]
           ,[CAD_ORIG]
           ,[CERT_SAT]
           ,[CERT_DATE]
           ,[EXP_PLACE])
     VALUES
           (@INVOICE_ID
           ,@UUID
           ,@CERT
           ,@DATE
           ,@SELLO_CFD
           ,@SELLO_SAT
           ,@CAD_ORIG
           ,@CERT_SAT
           ,@CERT_DATE
           ,@EXP_PLACE)

END

GO
USE [master]
GO
